extends ./layout/index

block contenido
     main.container.mt-5 
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
               .col-md-7
                    h1= pagina
                    blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi aut atque asperiores, officiis quia nemo repudiandae dolore saepe, odio deleniti natus suscipit eligendi! Sapiente, recusandae id! Consectetur, fuga cum.
                    
                    p Quaerat veritatis aliquid, numquam natus, ut facere possimus ratione, quibusdam facilis cumque accusamus amet incidunt. Libero magnam necessitatibus voluptates incidunt dicta delectus sequi architecto, ipsum quas quos. 
                    
                    p Voluptatum, obcaecati perspiciatis.Aut, iste laudantium quis autem quibusdam enim, odio accusantium soluta distinctio, odit nemo! Non animi excepturi provident? Molestias, veniam ipsam sint recusandae labore vel at rerum officia deleniti iusto nam.

     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                         h2.mb-4 Seguridad 
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, numquam quas inventore cumque iste quisquam! Voluptas unde debitis dolorum ea atque, illo rerum assumenda libero, odio ducimus nostrum voluptatum.

                    .col-md-4
                         img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destinos
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, numquam quas inventore cumque iste quisquam! Voluptas unde debitis dolorum ea atque, illo rerum assumenda libero, odio ducimus nostrum voluptatum.
                         
                    .col-md-4
                         img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                         h2.mb-4 Los Mejores Precios
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, numquam quas inventore cumque iste quisquam! Voluptas unde debitis dolorum ea atque, illo rerum assumenda libero, odio ducimus nostrum voluptatum.